@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

:root{
    --grid-cols: 1;
    --grid-rows: 1;
    --grid-cell: 1px;
}

body{
    font-family: 'Caveat';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: repeating-linear-gradient(
        45deg,
        #4F6D7A,
        #4F6D7A 50px,
        #7b96a1 50px,
        #7b96a1 60px
      );
    text-align: center;
    flex-direction: column;
}

h1{
    font-size: 72px;
    color: #DD6E42;
    margin: 5px;
}

footer{
    font-size: 18px;
}

button{
    border: none;
    padding: 10px 2px;
    border-radius: 8px;
    font-family: 'Caveat';
    font-size: 32px;
    flex-wrap: wrap;
    min-width: 250px;
    box-shadow: #DD6E42 5px 5px, #DD6E42 10px 10px;
}
button:hover{
    transform: translateY(2px);
}
button:active{
    transform: translateY(4px);
}
.main-holder{
    padding: 20px;
    border: solid, #E8DAB2, 10px;
    border-radius: 10px;
    background-color: #E8DAB2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: #DD6E42 5px 5px, #DD6E42 10px 10px;
}

.input-UI{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header-holder {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slider{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 20px;
    background-color: #EAEAEA;
    outline: none;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: #4F6D7A;
    border-radius: 20px;
}

.button-holder{
    flex: 2;
    display: flex;
    gap: 16px;
    margin: 16px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.grid-container{
    padding: 0;
    margin: 32px;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), var(--grid-cell));
    grid-template-columns: repeat(var(--grid-cols), var(--grid-cell));
}

.grid-cell {
    background-color: rgb(234, 234, 234);
}